.DS_Store
.idea
/venv/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

node_modules/*
database-debug.log
*-debug.log
.vscode/launch.json
*.pyc
*.pyc
*.pyc
*.pyc

**/__pycache__/**
