div {
    position: relative;
}

line {
    stroke: rgb(71, 170, 216);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 10, 9;
}

.page_button {
    color: red;
    overflow: hidden;
    padding: 0;
    border-width: 3;
}

#map_frame {
    overflow: hidden;
}

#map_canvas {
    cursor: move;
}
