
<!DOCTYPE html>
<head>
    <title> History Test Page </title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/history.js') }}" defer></script>
</head>

<body>
	<header>
		<nav>
		    <ul>
		    	<li><a href="/">Logout</a></li>
		    	<li><a href="/loggedin">Home</a></li>
		    	<li><a href="/Profile">Profile</a></li>
		    	<li><a href="/Profile">Library</a></li>
		    	<li><a href="/upload">File Upload</a></li>
		     	<li><a href="https://www.greenhouseatl.org/" title="www.greenhouseatl.org" target="_blank"> Greenhouse Accelerator </a></li>	     	
			</ul>
		</nav>
		<section class="header-content">
		    <h1>History Page</h1>
		    <p> View stories you have previously visited here </p>
		    <button onclick="window.location.href='/profile';">Return to Profile</button>
		</section>

		<div>
			<!-- Dictionary Variable -->
			{% for element in history %}
				<button class="collapsible">{{ element[0][0] }}</button>
				<ul>
				{% for elem in element %}
					<li><a href="/story/data/{{ elem[1] }}">{{ elem[0] }}</a></li>
				{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</header>
</body>
</html>