<!DOCTYPE html>
<html lang="en">

	<head>
		<title>{{ page['page_name'] }} | GA Knowledge Hub</title>

		<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/fontawesome/css/all.min.css')}}" />
	</head>

	<body>
		{% if not preview %}
			<header>
				{% if guest %}
					{% include 'templates/navbar_guest.html' %}
				{% else %}
					{% include 'templates/navbar_user.html' %}
				{% endif %}
			</header>
			{% if not guest %}
				<div class="story-nav">
					{% if back %}
						<form method="POST" class="hidden-form" action="/story/{{ story }}/{{ back }}">
							<input style="display: none" name="prev_page_id" type="text" value="{{ page['page_id'] }}">
							<input style="display: none" name="history_id" type="number" value="{{ history }}">
							<input style="display: none" name="forward" type="text" value="False">
							<input type="submit" value="Back">
						</form>
					{% endif %}
					{% if favorited %}
						<i class="fas fa-heart" id="favorite"></i>
					{% else %}
						<i class="far fa-heart" id="favorite"></i>
					{% endif %}
				</div>
			{% endif %}
		{% endif %}

		{% if preview %}
		<section>
		{% else %}
		<section class="story-content">
		{% endif %}
			<p class="storytext">{{ page['page_body_text'] | safe }}</p>
		</section>

		{% for child in page['page_children'] %}
			<div class="storytext">
				{% if preview %}
					<span class="mimic-link">{{ page['page_children'][child]['link_text'] }}</span>
				{% else %}
				    <form method="POST" action="/story/{{ story }}/{{ child }}">
						<input style="display: none" name="prev_page_id" type="text" value="{{ page['page_id'] }}">
						<input style="display: none" name="history_id" type="number" value="{{ history }}">
						<input style="display: none" name="forward" type="text" value="True">
						<input class="storylink" type="submit" value="{{ page['page_children'][child]['link_text'] }}">
					</form>
					<!-- <a class="storylink" href="/story/{{ story }}/{{ child }}"></a> -->
				{% endif %}
			</div>
		{% endfor %}

		<form style="display: none">
			<input name="page_id" type="text" value="{{page['page_id']}}">
			<input name="story" type="text" value={{story}}>
			<input name="history_id" type="number" value="{{ history }}">
		</form>

		<script src="{{url_for('static', filename='vendor/jquery/jquery-3.6.0.min.js')}}"></script>
		<script src="{{url_for('static', filename='scripts/favorite.js')}}"></script>
	</body>

</html>