<!DOCTYPE html>
<html lang="en">

	<head>
		<title>{{ page['page_name'] }}</title>

		<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}" />
		<link rel="stylesheet" href="{{url_for('static', filename='vendor/fontawesome/css/all.min.css')}}" />
	</head>

	<body>
		{% if not preview %}
			{% if favorited %}
				<i class="fas fa-heart" id="favorite"></i>
			{% else %}
				<i class="far fa-heart" id="favorite"></i>
			{% endif %}
		{% endif %}
		<p class="storytext">{{ page['page_body_text'] | safe }}</p>

		{% for child in page['page_children'] %}
			<p class="storytext">
				{% if preview %}
					<span class="mimic-link">{{ page['page_children'][child]['link_text'] }}</span>
				{% else %}
					<a class="storylink" href="/story/{{ story }}/{{ child }}">{{ page['page_children'][child]['link_text'] }}</a>
				{% endif %}
			</p>
		{% endfor %}

		<form style="display: none">
			<input name="page_id" type="text" value="{{page['page_id']}}">
			<input name="story" type="text" value={{story}}>
		</form>

		<script src="{{url_for('static', filename='vendor/jquery/jquery-3.6.0.min.js')}}"></script>
		<script src="{{url_for('static', filename='scripts/favorite.js')}}"></script>
	</body>

</html>