
<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>

<body>
	<header>
		{% include 'templates/navbar_user.html' %}
		<section class="header-content">
		    <h1>Welcome, {{ first_name }}</h1>
		    <p> Click "Begin Story" to start on your journey <br>
		        toward sustainable practices</p>
		    {% if continue_story %}
		    	<button onclick="window.location.href='/story/{{ continue_story }}';">Continue Story</button>
		    {% endif %}
		    <button onclick="window.location.href='/story/{{ begin_story }}';">Begin Story</button>
		</section>
	</header>
</body>