
<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>

<body>
	<header>
		{% include 'templates/navbar_user.html' %}
		<section class="header-content">
		    <h1>Welcome, {{ first_name }}</h1>
		    <p> Click "Begin Story" to start on your journey <br>
		        toward sustainable practices</p>
		    {% if continue_story %}
			    <form method="POST" class="hidden-form" action="/story/{{ continue_story }}">
					<input style="display: none" name="prev_page_id" type="text" value="">
					<input style="display: none" name="history_id" type="number" value="{{ history }}">
					<input style="display: none" name="forward" type="text" value="True">
					<input type="submit" value="Continue Story">
				</form>
		    {% endif %}
		    <button onclick="window.location.href='/story/{{ begin_story }}';">Begin Story</button>
		</section>
	</header>
</body>