<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Upload File | GA Knowledge Hub</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>
<body>

	<header>
		{% include 'templates/navbar_admin.html' %}
	</header>
	
	<section class="header-content">
		<h1>File Upload</h1>
		<p> Upload files here </p>
		<div class="centerbox">
			<form enctype="multipart/form-data" method="POST">
				<label for="selectfile">Select File:</label>
				<br>
				<input type="file" id ="selectfile" name="file" value="Select File" multiple>
				<br>
				<input type="submit" id="submitfile" value="Upload File">
			</form>
		</div>
		<br>
		<button onclick="window.location.href='/media';">Return to Media Manager</button>
	</section>
	<!-- This is the file upload page. -->

	<!-- The "file upload" button and corresponding functionality -->

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
	      <p>{{ message }}</p>
	    {% endfor %}
	  {% endif %}
	{% endwith %}


</body>
</html>
