<!DOCTYPE html>
<head>
	<title>Media Manager | GA Knowledge Hub</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome/css/all.min.css') }}">
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>

<body>
	<header>
		{% include 'templates/navbar_admin.html' %}
	</header>
	<section class="header-content">
		<h1>Media Manager</h1>
		<p> View, download, and delete files here </p>
		<button onclick="window.location.href='/upload';">File Upload</button>
	</section>
	<div>
		{% for file in files %}
			<div class="content file-container" id="{{ file[0] }}">
				<a href="/file/{{ file[0] }}" target="_blank" class="file-link">{{ file[0] }}</a>
				<a href="/download_file/{{ file[0] }}" target="_blank"><i class="fas fa-file-download download-file file-button"></i></a>
				<span class="delete-file-button" target="/delete_file/{{ file[0] }}" value="{{ file[0] }}"><i class="fas fa-trash-alt delete-file file-button"></i></span>
				<p class="file-detail"> Timestamp: {{ file[1] }} </p>
				<p class="file-detail"> Size: {{ file[2] }} {{ file[3] }} </p>
				<p class="file-detail"> URL: {{ url_root }}file/{{ file[0] }} </p>
			</div>
		{% endfor %}
	</div>

	<script src="{{url_for('static', filename='vendor/jquery/jquery-3.6.0.min.js')}}"></script>
	<script src="{{url_for('static', filename='scripts/files.js')}}"></script>
</body>