
<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>

<body>
	<header>
		{% include 'templates/navbar_user.html' %}
		<section class="header-content">
		    <h1>Favorites Page</h1>
		    <p> View and unsave favorited pages </p>
		    <button onclick="window.location.href='/profile';">Return to Profile</button>
		</section>

		<div>
			<!-- Dictionary variable -->
			{% for element in favorites %}
			<div class="content">
			<a href="/story/{{ element[1] }}"><p>{{ element[0] }}</p></a>
			</div>
			{% endfor %}
		</div>
	</header>
</body>