
<!DOCTYPE html>
<head>
	<title>Favorites | GA Knowledge Hub</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
</head>

<body>
	<header>
		{% include 'templates/navbar_user.html' %}
		<section class="header-content">
		    <h1>Favorites Page</h1>
		    <p> View and unsave favorited pages </p>
		    <button onclick="window.location.href='/profile';">Return to Profile</button>
		</section>

		<div>
			<!-- Dictionary variable -->
			{% for element in favorites %}
			<div class="content">
				<form method="POST" class="hidden-form" action="/story/{{ element[1] }}" target="_blank">
					<input style="display: none" name="prev_page_id" type="text" value="">
					<input style="display: none" name="history_id" type="number" value="{{ element[2] }}">
					<input style="display: none" name="forward" type="text" value="True">
					<input type="submit" value="{{ element[0] }}">
				</form>
			</div>
			{% endfor %}
		</div>
	</header>
</body>